<h1><%= @article.title %></h1>
<ul class="article-details">
  <li>Category: <%= @article.category.name %></li>
  <li>Price: $<%= @article.price %></li>
  <li>Contact: <%= @article.contact %></li>
  <li>Location: <%= @article.location %></li>
  <li><%= @article.body %></li>
</ul>
