<h1><%= @article.title %></h1>
<ul>
  <li><%= @article.category.name %></li>
  <li>$<%= @article.price %></li>
  <li><%= @article.contact %></li>
  <li><%= @article.location %></li>
  <li><%= @article.body %></li>
</ul>
